@font-face {
  font-family: "Manrope Variable";
  src: url("../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

/* ----- ROOT SELECTOR */
:root {
  /* color */
  --color-primary: rgb(176, 46, 0);
  --color-onPrimary: rgb(255, 255, 255);
  --color-primaryContainer: rgb(255, 219, 209);
  --color-onPrimaryContainer: rgb(59, 9, 0);

  --color-secondary: rgb(135, 82, 0);
  --color-onSecondary: rgb(255, 255, 255);
  --color-secondaryContainer: rgb(255, 221, 186);
  --color-onSecondaryContainer: rgb(43, 23, 0);

  --color-tertiary: rgb(121, 89, 0);
  --color-onTertiary: rgb(255, 255, 255);
  --color-tertiaryContainer: rgb(255, 223, 160);
  --color-onTertiaryContainer: rgb(38, 26, 0);

  --color-error: rgb(186, 26, 26);
  --color-onError: rgb(255, 255, 255);
  --color-errorContainer: rgb(255, 218, 214);
  --color-onErrorContainer: rgb(65, 0, 2);

  --color-background: rgb(255, 251, 255);
  --color-onBackground: rgb(32, 26, 24);

  --color-surface: rgb(255, 251, 255);
  --color-onSurface: rgb(32, 26, 24);
  --color-surfaceVariant: rgb(245, 222, 216);
  --color-onSurfaceVariant: rgb(83, 67, 63);

  --color-outline: rgb(196, 193, 193);
  --color-outlineVariant: rgb(218, 205, 205);

  --color-shadow: rgb(0, 0, 0);
  --color-scrim: rgb(0, 0, 0);

  --color-inverseSurface: rgb(54, 47, 45);
  --color-inverseOnSurface: rgb(251, 238, 235);
  --color-inversePrimary: rgb(255, 181, 160);

  --elevation-level0: transparent;
  --elevation-level1: rgb(251, 241, 242);
  --elevation-level2: rgb(249, 235, 235);
  --elevation-level3: rgb(246, 229, 227);
  --elevation-level4: rgb(246, 226, 224);
  --elevation-level5: rgb(244, 222, 219);

  --color-surfaceDisabled: rgba(32, 26, 24, 0.12);
  --color-onSurfaceDisabled: rgba(32, 26, 24, 0.38);
  --color-backdrop: rgba(59, 45, 41, 0.4);

  /* ---fonts */
  --sans-font: "Manrope Variable", sans-serif;

  --text-sm: 0.9rem;
  --text-normal: 1rem;
  --text-medium: 1.125rem;
  --text-title: 2.5rem;

  --text-lh-sm: 1rem;
  --text-lh-normal: 1.5rem;
  --text-lh-medium: 2rem;
  --text-lh-title: 2.3rem;

  /* animation */
  --cubic-bezier: 0.2, 0, 0, 1;

  /* screens */
  --max-screen-width: 1440px;

  /* break points */
  --br-screen-sm: 480px;
  --br-screen-md: 768px;
  --br-screen-lg: 1024px;
  --br-screen-xl: 1280px;
}

@media screen and (min-width: 1024px) {
  :root {
    --text-title: 4rem;
    --text-lh-title: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --text-title: 5rem;
    --text-lh-title: 5rem;
  }
}

/* REUSABLE AND GENERAL CLASSESS */
#mouse-follower {
  --dimension: 20px;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--dimension);
  height: var(--dimension);
  border-radius: 100em;
  background-color: var(--color-onBackground);
  color: var(--color-background);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  align-items: center;
  justify-content: center;
  display: none;
}

html {
  scroll-behavior: smooth;
}

body:hover > #mouse-follower {
  opacity: 1;
}

@media screen and (min-width: 1024px) {
  #mouse-follower {
    display: flex;
  }
}

/* ----- Text and Fonts */
.font-sans {
  font-family: var(--sans-font);
}

.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-lh-sm);
}

.text-normal {
  font-size: var(--text-normal);
  line-height: var(--text-lh-normal);
}

.text-medium {
  font-size: var(--text-medium);
  line-height: var(--text-lh-medium);
}

.text-title {
  font-size: var(--text-title);
  line-height: var(--text-lh-title);
  margin-bottom: 0.1em;
  letter-spacing: -0.1rem;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

/* ----- DECORATIONS */
.decoration__square {
  position: absolute;
  width: 0.7em;
  height: 50%;
  background: rgb(248, 243, 243);
  z-index: 2;
  border-top: solid 1px rgb(233, 229, 229);
  border-bottom: solid 1px rgb(233, 229, 229);
}

.decoration__square--left {
  left: 0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-right: solid 1px rgb(233, 229, 229);
  box-shadow: inset -0.125rem 0.125rem 0.0625rem -0.5px rgb(255, 255, 255);
}

.decoration__square--right {
  right: 0;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-left: solid 1px rgb(233, 229, 229);
  box-shadow: inset 0.125rem 0.125rem 0.0625rem 0.5px rgb(255, 255, 255);
}

.decoration__square--top {
  top: 3em;
}

.decoration__square--bottom {
  bottom: 3em;
}

.decoration__lines {
  height: 1px;
  width: 50vw;
  max-width: 45em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines2::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines2::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines2 {
  height: 1px;
  width: 50vw;
  max-width: 45em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines2::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  top: -2em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines2::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines3 {
  height: 1px;
  width: 50vw;
  max-width: 45em;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines3::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: -2em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

.decoration__lines3::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 1px;
  bottom: -4em;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #eeeef4, #cdcddd 50%, #eeeef4);
  box-shadow: 0 0.5px 1px 0 white;
}

@media screen and (min-width: 768px) {
  .decoration__square {
    width: 1em;
  }
}

@media screen and (min-width: 1280px) {
  .decoration__square {
    width: 4em;
    height: 70%;
  }
}

/* ---- Header */
.header {
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__controll {
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.header__navToggle {
  width: 4em;
  height: 2em;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  justify-content: center;
  gap: 1rem;
  background: none;
  transition: gap 0.5s cubic-bezier(var(--cubic-bezier));
}

.header__navToggle.open {
  gap: 0.2em;
}

.navToggle__bar {
  height: 2px;
  width: 100%;
  background-color: var(--color-onBackground);
}

.header__nav {
  position: absolute;
  top: calc(-100vh - 1em);
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-background);
  transition: top 0.5s cubic-bezier(var(--cubic-bezier));
}

.header__nav.open {
  top: -1em;
}

.header__navList {
  padding: 1.125em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: center;
  height: 100%;
}

.header__navItem {
  color: var(--color-onBackground);
  font-size: 5vh;
  text-decoration: none;
}

.header__navItem.active {
  padding-left: 16px;
  font-weight: 600;
}

.header__logo {
  text-decoration: none;
  color: var(--color-onBackground);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.header__logo > svg {
  --width: 40px;
  --height: calc(var(--width) - 15px);

  width: var(--width);
  height: var(--height);
}

@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    width: max-content;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    background: var(--color-background);
    border-radius: 100em;
    overflow: hidden;
    align-items: center;
    background: var(--color-background);
    border: solid 1px var(--color-outlineVariant);
    padding: 0.7em;
    gap: 2em;
  }

  .header__controll {
    padding: 0;
  }

  .header__navToggle {
    display: none;
  }

  .header__nav {
    top: 0 !important;
    position: static !important;
    height: 60px;
    width: max-content;
    padding: 0 !important;
    height: auto;
    background: none;
  }

  .header__navList {
    flex-direction: row;
    width: max-content;
    padding: 0 !important;
    align-items: center;
    gap: 0;
  }

  .header__navItem {
    background: rgb(233, 228, 228);
    font-size: 1rem;
    padding: 0.3em 0.6em;
    border-radius: 10em;
    border: solid 1px var(--color-outlineVariant);
  }

  .header__navItem.active {
    background: var(--color-onBackground);
    color: var(--color-background);
    padding: 0.3em 0.6em;
  }
}

/* ------ Links */
.cta {
  display: block;
  padding: 0.5em;
  border-radius: 100em;
  text-decoration: none;
  background: rgb(236, 232, 232);
  border: solid 1px rgb(196, 193, 193);
}

.cta__content {
  padding: 0.5em 1em;
  background-color: var(--color-onBackground);
  border-radius: 100em;
  color: var(--color-background);
  display: flex;
  align-items: center;
  gap: 0.8em;
  box-shadow: 0px 3px 6px 4px rgba(17, 17, 17, 0.15);
  transition: box-shadow 0.5s cubic-bezier(var(--cubic-bezier));
}

.cta:hover > .cta__content {
  box-shadow: 0px 0px 50px 10px rgba(248, 133, 1, 0.8);
}

/* ----- Sections */
.section {
  max-width: var(--max-screen-width);
  padding: 1.125em;
  margin: 0 auto;
}

.section__caption {
  display: block;
  padding: 0.2em 0.8em;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  width: max-content;
  margin: 0 auto;
  border-radius: 10rem;
  border: solid 1px var(--color-outline);
}

@media screen and (min-width: 1024px) {
  .section {
    padding: 3em;
  }
}

/* 001 - HERO SECTION */
.heroSection {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 1)
  );
}

@media screen and (min-width: 1024px) {
  .heroSection {
    padding-top: 8em;
    padding-bottom: 0;
  }
}

.heroSection__caption {
  display: block;
  padding: 0.2em 0.8em;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
  width: max-content;
  margin: 0 auto;
  border-radius: 10rem;
  border: solid 1px var(--color-outline);
}

.heroSection__subtitle {
  margin-bottom: 1em;
  max-width: 28em;
  opacity: 0.7;
}

.heroSection__decoration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.rotatingCircle__1 {
  --dimension: 50em;

  position: absolute;
  bottom: 10em;
  left: 50%;
  transform: translateX(-50%);
  width: var(--dimension);
  height: calc(var(--dimension) * 0.7);
  background: rgb(255, 81, 0);
  filter: blur(30px);
  border-radius: 100em;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* 002 - RECENT ARTICLES */
.recentArticle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  background: var(--color-background);
}

.articleCard {
  --image-scale: 1;

  color: var(--color-background);
  overflow: hidden;
  padding: 0.7em;
  border-radius: 2.4em;
  background: rgb(233, 229, 229);
  border: solid 1px var(--color-outline);
}

.articleCard:hover {
  --image-scale: 1.1;
}

.articleCard__wrapper {
  background-color: var(--color-background);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  padding-top: calc((4.5 / 4) * 100%);
  border-radius: 1.7em;
  border: solid 1px var(--color-outlineVariant);
  box-shadow: 0px 3px 6px 4px rgba(17, 17, 17, 0.15);
  position: relative;
}

.articleCard__content {
  position: absolute;
  top: 0.7em;
  left: 0.7em;
  right: 0.7em;
  bottom: 0.7em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.articleCard__imageWrapper {
  border: solid 1px rgb(196, 193, 193);
  flex: 1;
  border-radius: 1em;
  overflow: hidden;
}

.articleCard__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1em;
  transform: scale(var(--image-scale));
  transition: transform 0.5s cubic-bezier(var(--cubic-bezier));
  filter: brightness(0.8);
}

.articleCard__ctaWrapper {
  display: flex;
  flex-direction: column;
  color: #111;
  gap: 0.6em;
  padding-top: 1em;
}

.articleCard__title {
  font-weight: 600;
}

.articleCard__subtitle {
  opacity: 0.7;
}

.articleCard__cta {
  text-decoration: none;
  color: var(--color-background);
  background-color: var(--color-onBackground);
  display: block;
  width: max-content;
  padding: 0.5em 1em;
  border-radius: 1em;
  margin-top: 0.5em;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(var(--cubic-bezier));
}

.articleCard__cta:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .recentArticle {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .recentArticle {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 003 - MISSION */
.missionSection {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding-top: 6em;
  padding-bottom: 8em;
  background-color: var(--color-background);
  position: relative;
}

.missionSection__title {
  font-size: 1.5rem;
  margin: 0 auto;
}

.missionSection__paragraph {
  opacity: 0.7;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .missionSection__title {
    font-size: 2.5rem;
    max-width: 20em;
  }

  .missionSection__paragraph {
    max-width: 25em;
  }
}

@media screen and (min-width: 1024px) {
  .missionSection {
    justify-content: center;
    padding-bottom: 9em;
  }

  .missionSection__title {
    font-size: 3rem;
    max-width: 20em;
  }

  .missionSection__paragraph {
    max-width: 34em;
  }
}

/* 004 - SERVICES */
.serviceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding-top: 8em;
  padding-bottom: 9em;
  position: relative;
  background-color: var(--color-background);
}

.serviceSection__title {
  font-size: 1.5rem;
  margin: 0 auto;
}

.serviceSection__paragraph {
  opacity: 0.7;
  margin: 0 auto;
  display: block;
}

.serviceSection__list {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1em;
  position: relative;
}

.serviceSection__card {
  padding: 0.5em;
  background: #f3f3fc;
  border: solid 1px var(--color-outline);
  border-radius: 1.5em;
  transition: transform 0.5s cubic-bezier(var(--cubic-bezier)),
    box-shadow 0.2s cubic-bezier(var(--cubic-bezier));
}

.serviceSection__card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 3px rgba(17, 17, 17, 0.1);
}

.serviceSection__cardWrapper {
  padding: 1em;
  background: var(--color-background);
  border-radius: 1em;
  color: var(--color-onBackground);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: start;
  border: solid 1px var(--color-outline);
}

.serviceSection__subtitle {
  opacity: 0.7;
  display: block;
}

.serviceSection__icon {
  margin-bottom: 1em;
}

.serviceSection__icon > svg {
  --dimension: 25px;

  width: var(--dimension);
  height: var(--dimension);
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .serviceSection__title {
    font-size: 2.5rem;
    max-width: 20em;
  }

  .serviceSection__paragraph {
    max-width: 25em;
  }

  .serviceSection__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .serviceSection {
    justify-content: center;
    padding-top: 9em;
    padding-left: 6em;
    padding-right: 6em;
  }

  .serviceSection__title {
    font-size: 3rem;
    max-width: 20em;
  }

  .serviceSection__paragraph {
    max-width: 34em;
  }

  .serviceSection__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .serviceSection {
    padding-left: 7em;
    padding-right: 7em;
    padding-bottom: 10em;
  }
}

.aboutSection {
  background: var(--color-background);
  padding-top: 5em;
  padding-bottom: 5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.aboutSection__title {
  font-size: 1.5rem;
  margin: 0 auto;
}

.aboutSection__paragraph {
  opacity: 0.7;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .aboutSection__title {
    font-size: 2.5rem;
    max-width: 20em;
  }

  .aboutSection__paragraph {
    max-width: 25em;
  }
}

@media screen and (min-width: 1024px) {
  .aboutSection__title {
    font-size: 3rem;
    max-width: 19em;
  }

  .aboutSection__paragraph {
    max-width: 34em;
  }
}
